<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
	<div class="wrap-bxslider"> 
    <div class="content-test ">
        
                <div class="w-ct-column">
                    <div class="ct-column">
                        <a class="lnk-img" href="http://tienganh1.viettelstudy.vn/viettel/public/khoa-hoc/tieng-anh-co-ban-1.html">
                            <img alt="Tiếng Anh cơ bản" src="http://media.viettelstudy.vn/archive/imageslead/KhoahocUcan/201309/20130919/thumb11_812317996.png"/>
                        </a>
                        <h3 class="name-test-course">
                            <a href="http://tienganh1.viettelstudy.vn/viettel/public/khoa-hoc/tieng-anh-co-ban-1.html">
                                Tiếng Anh cơ bản 
                            </a>
                        </h3>
                        
                        

                       <p class="infor-test">
                            Bạn l&#224; người mới? Bạn đ&#227; theo đuổi tiếng Anh một thời gian d&#224;i nhưng thiếu định hướng? Kh&#243;a học n&#224;y ch&#237;nh l&#224; kim chỉ nam d&#224;nh cho bạn.
                        </p>
                        
                    </div>
                </div>
          </div>
       </div>
             

</body>
</html>
