<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
</head>
<body>
<div id="authentication">
    <form ID="login" method="post" action="{% url 'accounts:create_account' %}">{% csrf_token %}
        <td><input type="text" name="username" placeholder="Username" size="15" maxlength="25"></td>
        <td><input type="email" name="email" placeholder="E-mail" size="15" maxlength="40"></td>
        <td><input type="password" name="password" placeholder="Password" size="15" maxlength="25"></td>
        <td><input type="password" name="password_verify" placeholder="Verify" size="15" maxlength="25"></td>
        <td><input type="submit" name="signup" value="Đăng ký"></td>
    </form>
</div>
</body>
</html>