a{
    color: green;
    text-decoration: none;
}

h3{
    font-family: sans-serif;
    color: violet;
}

#question{
    font-family: sans-serif;
    border-radius: 5px;
    /*border:1px solid black;*/
    float: left;
    position: fixed;
}
body{
    background-color: #ECFFC8;
}