<!DOCTYPE HTML>
{% extends "skeleton.html" %}


{% load staticfiles %}

{% block title %}Trắc Nghiệm{% endblock %}

{% block content_of_website %}

<div>
    {% if user.is_authenticated %}
        {% if list_of_questions %}
            <form method="post" action="{% url 'tracnghiem:post' %}">
                {% csrf_token %}
                <center> Bài kiểm tra số 1 </center>
                <ul>
                    {% for question in list_of_questions %}
                        <li>
                            {{ question.question_text }}
                            <ul>
                                {% for choice in question.choice_set.all %}
                                    <input type="radio"
                                           name="question{{ question.id }}"
                                           id="{{ choice.id }}"
                                           value="{{ choice.id }}"/>
                                    <label for="{{ choice.id }}">{{ choice.choice_text }}</label><br/>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                <input type="submit" name="submit" value="Lưu kết quả"/>
            </form>
        {% else %}
            <p>Không có gì thú vị ở đây cả</p>
        {% endif %}
    {% else %}
        <p>Bạn chưa đăng nhập</p>
    {% endif %}
</div>
{% endblock %}