<!DOCTYPE HTML>

{#{% extends base.html %}#}

<html>
<head>
    {% load staticfiles %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="nhung" />
    <link type="text/css" rel="stylesheet" href="{% static 'tracnghiem/CSS/home.css' %}"/>
	<title>Trắc nghiệm</title>
</head>

<body background="background.jpg">
    <div id="menu">
        <ul>
            <li id=menu1><a href="/">I &hearts; English</a></li>
			<li id=menu1><a href="/tracnghiem">Trắc nghiệm</a></li>
        </ul>
        
    </div>
    <div id="head">
    	<div class="home"><a href="/"><center><h1>We <span>&hearts;</span> English</h1></center></a></div>
        <div id="authentication">
        {% if user.is_authenticated %}
            Welcome {{ user.username }}<br/>
            <a href="/accounts/logout/">Logout</a>
        {% else %}
            <form ID="login" method="post" action="/accounts/auth/">
            <table>
                {% csrf_token %}
                <tr>
                    <td><input type="text" name="username" value="username" size="15" maxlength="25"></td>
                    <td><input type="password" name="password" value="password" size="15" maxlength="25"></td>
                    <td><input type="submit" name="dangnhap" value="Đăng Nhập"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="luupass" value="keepsession">Ghi nhớ</td>
                    <td><a href="accounts/forgot">Quên mật khẩu</a></td>
                    <td><a href="accounts/signup">Đăng ký</a></td>
                </tr>
            </table>
            </form>

        {% endif %}
        </div>
    </div>
    
    <div class="left"></div>
    <div class="right">
        {% if list_of_questions %}
            <ul>
            {% for question in list_of_questions %}
                <li>{{ question.question_text }}
                    <ul>
                        {% for choice in question.choice_set.all  %}
                            <li>
                            {{ choice.choice_text }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>không có gì thú vị ở đây cả</p>
        {% endif %}
    </div>
</body>
</html>