@charset "utf-8";
/* CSS Document */
#banner{
	width: 800px;
	height: 150px;
	border: 1px ridge #CCC;
	}
.ban-co-biet{
	font-size:36px;
	}
span{
	color:#FF0;
	}
h2{
	font-size:36px;
	color: #f65280;
	}
.vd{
	background-color: #39F;
	border:1px thin;
	border-radius: 3px;
	font-size: 24px;
	color: #ffffff;
	}
#otherpage{
	text-decoration: none;
	font-size: 18px;
	color: #14acf3;
	}
#chuong-trinh-hoc{
	width: 800px;
	height: 200px;
	border: 1px solid #999;
	border-radius: 5px;
	}
#khoahoc{
	width:120px;
	height: 150px;
	}
#title1{
	color: #096df6;
	}
#title2{
	color: #fc8035;
	}
#title3{
	color: #0ffb36;
	}
#title4{
	color: #f8fb0f;
	}
#title5{
	color: #b00ffb;
	}
#title6{
	color: #fb0f51;
	}

#why{
	clear:both;
	height: 100px;
	width:100px;
	}
body{
    background-color:#fef4e0 ;
}
div{
    border-radius: 5px;
}
a{
    text-decoration: none;
}
h1{
    margin-top: 30px;
    font-family: Blackadder ITC Regular;
    color:#1bf50b;
}
span{
    color: red;
}
#head{
    width: 1005px;
    height: 100px;
    background-color: #858efa;
    display: block;
    margin-top: -10px;
    margin-left: 170px;
    margin-right: 157px;
    border: 2px solid #a7aaa7;
}
#menu{
    position: fixed;
	left:46%;
	margin-left:-254px;
	margin-top: -10px;
}
#menu1{
    display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #fdfcfc;
	padding: 5px;
}
.left{
    width: 200px;
    height: 1500px;
    background-color: white;
    float: left;
    margin-left: 170px;
    border: 2px solid #a7aaa7;
}
.right{
    width: 800px;
    height: auto;
    background-color: white;
    float: right;
    margin-right: 150px;
    border: 2px solid #a7aaa7;
}
.home{
    clear:both;
    width: 200px;
    height: 100px;
    border-radius: 180px;
    background-color: #707afb;
    display: inline-block;
    margin-top: auto;
    margin-left: 20px;
	float:left;
}
#authentication{
	float: right;
	margin-top: 35px;
}
/*center form{*/
	/*float center;*/
/*}*/
