{% extends "skeleton.html" %}
{% load staticfiles %}

{% block title %}English Study Web{% endblock %}

 {% block content_of_website %}
<div class="m-slider">
					<div class="slider-holder">
						<span class="slider-shadow"></span>
						<span class="slider-b"></span>
						<div class="slider flexslider">
							<ul class="slides">
								<li>
									<div class="img-holder">
										<img src={% static "CSS/images/img111.png" %} />
									</div>
									<div class="slide-cnt">
										<h2>Your Title Here</h2>
										<div class="box-cnt">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis lorem ipsum dolor sit amet, consectetur adipiscing elit. llus eget augue quis lorem ipsum dolor sit amet, free css templates</p>
										</div>
										<a href="#" class="grey-btn">request a demo</a>
									</div>
								</li>
								<li>
									<div class="img-holder">
										<img src={% static "CSS/images/img1.png" %} alt="" />
									</div>
									
								</li>
								<li>
									<div class="img-holder">
										<img src={% static "CSS/images/img3.png" %} alt="" />
									</div>
									<div class="slide-cnt">
										<h2>Your Title Here</h2>
										<div class="box-cnt">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis lorem ipsum dolor sit amet, consectetur adipiscing elit. llus eget augue quis lorem ipsum dolor sit amet, free css templates</p>
										</div>
										<a href="#" class="grey-btn">request a demo</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>		
				<!-- end of slider -->
				<!-- main -->
				<div class="main">
					<a href="#" class="m-btn-grey grey-btn">request a demo</a>
					<section class="cols">
						<div class="col">
							<img src={% static "css/images/col-img1.png" %} alt="" />
							<div class="col-cnt">
								<h2>Design</h2>
								<p>Lorem ipsum dolor sit amet, con-<br />sectetur adipiscing dolor emor</p>
								<a href="#" class="more">view more</a>
							</div>
						</div>
						<div class="col">
							<img src={% static "css/images/col-img2.png" %} alt="" />
							<div class="col-cnt">
								<h2>Branding</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing dolor</p>
								<a href="#" class="more">view more</a>
							</div>
						</div>
						<div class="col">
							<img src={% static "css/images/col-img3.png" %} alt="" />
							<div class="col-cnt">
								<h2>Development</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing dolor</p>
								<a href="#" class="more">view more</a>
							</div>
						</div>
						<div class="cl">&nbsp;</div>
					</section>
					<section class="post">
						<div class="video-holder">
							<iframe width="435" height="243" src="//www.youtube.com/embed/hLQl3WQQoQ0" frameborder="0" allowfullscreen></iframe>
						</div>

						<div class="post-cnt">
							<h2>What’s in the box?</h2>
							<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit adispicing amet</strong> Cras molestie condimentum consequat. Nam leo libero, scelerisque tincidunt amet nsectetur adipiscing elit. Cras molestie condimentum nsectetur adipiscing elit. Cras molestie condimentum consequat pretium donec dictum mattis elit, nec:</p>

							<ul>
								<li><a href="#">jQuery Fader</a></li>
								<li><a href="#">Various column options</a></li>
								<li><a href="#">Valid XHTML and CSS tableless Design</a></li>
								<li><a href="#">Tested on Mac &amp; PC</a></li>
							</ul>
						</div>
						<div class="cl">&nbsp;</div>
					</section>

					<section class="testimonial">

						<p><strong class="quote">“Trên trái đất làm gì có đường.<br /> Người ta đi mãi thì thành đường thôi.”</strong></p>

						<p class="author">Cố hương - Lỗ Tẫn</p>
					</section>
				</div>
                {% endblock %}